ManagingSystem/Service References/DistanceBetweenStopsSerice/DistanceBetweenStopsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="Wpk.Entities" elementFormDefault="qualified" targetNamespace="Wpk.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24462/Services/DistanceBetweenStopsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDistanceBetweenStops">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistanceBetweenStops" nillable="true" type="tns:DistanceBetweenStops" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistanceBetweenStops" nillable="true" type="tns:ArrayOfDistanceBetweenStops" />
  <xs:complexType name="DistanceBetweenStops">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistanceInKilometers" type="xs:double" />
      <xs:element minOccurs="0" name="FirstBusStopId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SecondBusStopId" type="xs:int" />
      <xs:element minOccurs="0" name="TravelTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistanceBetweenStops" nillable="true" type="tns:DistanceBetweenStops" />
</xs:schema>