ManagingSystem/Service References/DistanceBetweenStopsSerice/DistanceBetweenStopsManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DistanceBetweenStopsManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IDistanceBetweenStopsSecureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24462/Services/DistanceBetweenStopsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/DistanceBetweenStopsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/DistanceBetweenStopsService.svc?xsd=xsd2" namespace="Wpk.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDistanceBetweenStopsSecureService_GetAllWithDeleted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithDeleted" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsSecureService_GetAllWithDeleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithDeletedResponse" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsSecureService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsSecureService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsSecureService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsSecureService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsSecureService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsSecureService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsSecureService_UndeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:UndeleteById" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsSecureService_UndeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UndeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IDistanceBetweenStopsService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IDistanceBetweenStopsSecureService">
    <wsdl:operation name="GetAllWithDeleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceBetweenStopsSecureService/GetAllWithDeleted" message="tns:IDistanceBetweenStopsSecureService_GetAllWithDeleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceBetweenStopsSecureService/GetAllWithDeletedResponse" message="tns:IDistanceBetweenStopsSecureService_GetAllWithDeleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceBetweenStopsSecureService/Create" message="tns:IDistanceBetweenStopsSecureService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceBetweenStopsSecureService/CreateResponse" message="tns:IDistanceBetweenStopsSecureService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceBetweenStopsSecureService/Update" message="tns:IDistanceBetweenStopsSecureService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceBetweenStopsSecureService/UpdateResponse" message="tns:IDistanceBetweenStopsSecureService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceBetweenStopsSecureService/DeleteById" message="tns:IDistanceBetweenStopsSecureService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceBetweenStopsSecureService/DeleteByIdResponse" message="tns:IDistanceBetweenStopsSecureService_DeleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UndeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceBetweenStopsSecureService/UndeleteById" message="tns:IDistanceBetweenStopsSecureService_UndeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceBetweenStopsSecureService/UndeleteByIdResponse" message="tns:IDistanceBetweenStopsSecureService_UndeleteById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDistanceBetweenStopsService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceBetweenStopsService/GetAll" message="tns:IDistanceBetweenStopsService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceBetweenStopsService/GetAllResponse" message="tns:IDistanceBetweenStopsService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDistanceBetweenStopsService/GetById" message="tns:IDistanceBetweenStopsService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDistanceBetweenStopsService/GetByIdResponse" message="tns:IDistanceBetweenStopsService_GetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDistanceBetweenStopsSecureService" type="tns:IDistanceBetweenStopsSecureService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IDistanceBetweenStopsSecureService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllWithDeleted">
      <soap:operation soapAction="http://tempuri.org/IDistanceBetweenStopsSecureService/GetAllWithDeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IDistanceBetweenStopsSecureService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IDistanceBetweenStopsSecureService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IDistanceBetweenStopsSecureService/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UndeleteById">
      <soap:operation soapAction="http://tempuri.org/IDistanceBetweenStopsSecureService/UndeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDistanceBetweenStopsService" type="tns:IDistanceBetweenStopsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IDistanceBetweenStopsService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IDistanceBetweenStopsService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistanceBetweenStopsManager">
    <wsdl:port name="BasicHttpBinding_IDistanceBetweenStopsSecureService" binding="tns:BasicHttpBinding_IDistanceBetweenStopsSecureService">
      <soap:address location="https://localhost:44300/Services/DistanceBetweenStopsService.svc/secure" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDistanceBetweenStopsService" binding="tns:BasicHttpBinding_IDistanceBetweenStopsService">
      <soap:address location="http://localhost:24462/Services/DistanceBetweenStopsService.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>