ConsoleApplication1/Service References/BoostAccountCreator/BoostAccountCreatorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Wpk.Entities" elementFormDefault="qualified" targetNamespace="Wpk.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBoostAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BoostAccount" nillable="true" type="tns:BoostAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoostAccount" nillable="true" type="tns:ArrayOfBoostAccount" />
  <xs:complexType name="BoostAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBoost" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GeneratedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoostAccount" nillable="true" type="tns:BoostAccount" />
</xs:schema>