ManagingSystem/Service References/QuestionnaireService/QuestionnaireManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuestionnaireManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IQuestionnaireSecureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24462/Services/QuestionnaireService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/QuestionnaireService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/QuestionnaireService.svc?xsd=xsd2" namespace="Wpk.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuestionnaireSecureService_GetAllWithDeleted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithDeleted" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_GetAllWithDeleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithDeletedResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_GetByEmployeeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByEmployeeId" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_GetByEmployeeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByEmployeeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_DelteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DelteById" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_DelteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_UndeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:UndeleteById" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireSecureService_UndeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UndeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IQuestionnaireService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuestionnaireSecureService">
    <wsdl:operation name="GetAllWithDeleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/GetAllWithDeleted" message="tns:IQuestionnaireSecureService_GetAllWithDeleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/GetAllWithDeletedResponse" message="tns:IQuestionnaireSecureService_GetAllWithDeleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByEmployeeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/GetByEmployeeId" message="tns:IQuestionnaireSecureService_GetByEmployeeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/GetByEmployeeIdResponse" message="tns:IQuestionnaireSecureService_GetByEmployeeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/Create" message="tns:IQuestionnaireSecureService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/CreateResponse" message="tns:IQuestionnaireSecureService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/Update" message="tns:IQuestionnaireSecureService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/UpdateResponse" message="tns:IQuestionnaireSecureService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/DelteById" message="tns:IQuestionnaireSecureService_DelteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/DelteByIdResponse" message="tns:IQuestionnaireSecureService_DelteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UndeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/UndeleteById" message="tns:IQuestionnaireSecureService_UndeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionnaireSecureService/UndeleteByIdResponse" message="tns:IQuestionnaireSecureService_UndeleteById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IQuestionnaireService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionnaireService/GetAll" message="tns:IQuestionnaireService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionnaireService/GetAllResponse" message="tns:IQuestionnaireService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestionnaireService/GetById" message="tns:IQuestionnaireService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestionnaireService/GetByIdResponse" message="tns:IQuestionnaireService_GetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuestionnaireSecureService" type="tns:IQuestionnaireSecureService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IQuestionnaireSecureService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllWithDeleted">
      <soap:operation soapAction="http://tempuri.org/IQuestionnaireSecureService/GetAllWithDeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByEmployeeId">
      <soap:operation soapAction="http://tempuri.org/IQuestionnaireSecureService/GetByEmployeeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IQuestionnaireSecureService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IQuestionnaireSecureService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelteById">
      <soap:operation soapAction="http://tempuri.org/IQuestionnaireSecureService/DelteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UndeleteById">
      <soap:operation soapAction="http://tempuri.org/IQuestionnaireSecureService/UndeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IQuestionnaireService" type="tns:IQuestionnaireService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IQuestionnaireService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IQuestionnaireService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuestionnaireManager">
    <wsdl:port name="BasicHttpBinding_IQuestionnaireSecureService" binding="tns:BasicHttpBinding_IQuestionnaireSecureService">
      <soap:address location="https://localhost:44300/Services/QuestionnaireService.svc/secure" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IQuestionnaireService" binding="tns:BasicHttpBinding_IQuestionnaireService">
      <soap:address location="http://localhost:24462/Services/QuestionnaireService.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>