ManagingSystem/Service References/NewsService/NewsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Wpk.Entities" elementFormDefault="qualified" targetNamespace="Wpk.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNews">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="News" nillable="true" type="tns:News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNews" nillable="true" type="tns:ArrayOfNews" />
  <xs:complexType name="News">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
</xs:schema>