Mobile.Helper.Services/Service References/CustomerOperationService/CustomerOperationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOperationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICustomerOperationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24462/Services/CustomerOperationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/CustomerOperationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/CustomerOperationService.svc?xsd=xsd2" namespace="Wpk.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerOperationService_GetAllBoostAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBoostAccount" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_GetAllBoostAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBoostAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_GetAllPurchaseTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPurchaseTicket" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_GetAllPurchaseTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPurchaseTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_GetActivePurchaseTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivePurchaseTicket" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_GetActivePurchaseTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivePurchaseTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_UpdateCustomerEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerEmail" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_UpdateCustomerEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_UpdateCustomerPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerPassword" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_UpdateCustomerPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_CreateNewBoostAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBoostAccount" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_CreateNewBoostAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewBoostAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_CreateNewPurchaseTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPurchaseTicket" />
  </wsdl:message>
  <wsdl:message name="ICustomerOperationService_CreateNewPurchaseTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewPurchaseTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerOperationService">
    <wsdl:operation name="GetAllBoostAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOperationService/GetAllBoostAccount" message="tns:ICustomerOperationService_GetAllBoostAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOperationService/GetAllBoostAccountResponse" message="tns:ICustomerOperationService_GetAllBoostAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPurchaseTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOperationService/GetAllPurchaseTicket" message="tns:ICustomerOperationService_GetAllPurchaseTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOperationService/GetAllPurchaseTicketResponse" message="tns:ICustomerOperationService_GetAllPurchaseTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivePurchaseTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOperationService/GetActivePurchaseTicket" message="tns:ICustomerOperationService_GetActivePurchaseTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOperationService/GetActivePurchaseTicketResponse" message="tns:ICustomerOperationService_GetActivePurchaseTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOperationService/UpdateCustomerEmail" message="tns:ICustomerOperationService_UpdateCustomerEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOperationService/UpdateCustomerEmailResponse" message="tns:ICustomerOperationService_UpdateCustomerEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOperationService/UpdateCustomerPassword" message="tns:ICustomerOperationService_UpdateCustomerPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOperationService/UpdateCustomerPasswordResponse" message="tns:ICustomerOperationService_UpdateCustomerPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewBoostAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOperationService/CreateNewBoostAccount" message="tns:ICustomerOperationService_CreateNewBoostAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOperationService/CreateNewBoostAccountResponse" message="tns:ICustomerOperationService_CreateNewBoostAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewPurchaseTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerOperationService/CreateNewPurchaseTicket" message="tns:ICustomerOperationService_CreateNewPurchaseTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerOperationService/CreateNewPurchaseTicketResponse" message="tns:ICustomerOperationService_CreateNewPurchaseTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerOperationService" type="tns:ICustomerOperationService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICustomerOperationService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllBoostAccount">
      <soap:operation soapAction="http://tempuri.org/ICustomerOperationService/GetAllBoostAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPurchaseTicket">
      <soap:operation soapAction="http://tempuri.org/ICustomerOperationService/GetAllPurchaseTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivePurchaseTicket">
      <soap:operation soapAction="http://tempuri.org/ICustomerOperationService/GetActivePurchaseTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerEmail">
      <soap:operation soapAction="http://tempuri.org/ICustomerOperationService/UpdateCustomerEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerPassword">
      <soap:operation soapAction="http://tempuri.org/ICustomerOperationService/UpdateCustomerPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewBoostAccount">
      <soap:operation soapAction="http://tempuri.org/ICustomerOperationService/CreateNewBoostAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewPurchaseTicket">
      <soap:operation soapAction="http://tempuri.org/ICustomerOperationService/CreateNewPurchaseTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerOperationService">
    <wsdl:port name="BasicHttpBinding_ICustomerOperationService" binding="tns:BasicHttpBinding_ICustomerOperationService">
      <soap:address location="https://localhost:44300/Services/CustomerOperationService.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>