Mobile.Helper.Services/Service References/BusStopOnLineService/BusStopOnLineService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Wpk.Entities" elementFormDefault="qualified" targetNamespace="Wpk.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusStopOnLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusStopOnLine" nillable="true" type="tns:BusStopOnLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusStopOnLine" nillable="true" type="tns:ArrayOfBusStopOnLine" />
  <xs:complexType name="BusStopOnLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusStopId" type="xs:int" />
      <xs:element minOccurs="0" name="Direction" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineId" type="xs:int" />
      <xs:element minOccurs="0" name="NumberStopOnLine" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusStopOnLine" nillable="true" type="tns:BusStopOnLine" />
</xs:schema>