ManagingSystem/Service References/AnswerOptionService/AnswerOptionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Wpk.Entities" elementFormDefault="qualified" targetNamespace="Wpk.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnswerOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnswerOption" nillable="true" type="tns:AnswerOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswerOption" nillable="true" type="tns:ArrayOfAnswerOption" />
  <xs:complexType name="AnswerOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberOfVotes" type="xs:int" />
      <xs:element minOccurs="0" name="Option" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionnaireId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnswerOption" nillable="true" type="tns:AnswerOption" />
</xs:schema>