ManagingSystem/Service References/BusStopTypeService/BusStopTypeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Wpk.Entities" elementFormDefault="qualified" targetNamespace="Wpk.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusStopType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusStopType" nillable="true" type="tns:BusStopType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusStopType" nillable="true" type="tns:ArrayOfBusStopType" />
  <xs:complexType name="BusStopType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusStopType" nillable="true" type="tns:BusStopType" />
</xs:schema>