Mobile.Helper.Services/Service References/TimetableService/TimetableManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimetableManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITimetableSecureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24462/Services/TimetableService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/TimetableService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/TimetableService.svc?xsd=xsd2" namespace="Wpk.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimetableSecureService_GetAllWithDeleted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithDeleted" />
  </wsdl:message>
  <wsdl:message name="ITimetableSecureService_GetAllWithDeleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithDeletedResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetableSecureService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ITimetableSecureService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetableSecureService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ITimetableSecureService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetableSecureService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="ITimetableSecureService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetableSecureService_UndeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:UndeleteById" />
  </wsdl:message>
  <wsdl:message name="ITimetableSecureService_UndeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UndeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ITimetableSecureService">
    <wsdl:operation name="GetAllWithDeleted">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableSecureService/GetAllWithDeleted" message="tns:ITimetableSecureService_GetAllWithDeleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableSecureService/GetAllWithDeletedResponse" message="tns:ITimetableSecureService_GetAllWithDeleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableSecureService/Create" message="tns:ITimetableSecureService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableSecureService/CreateResponse" message="tns:ITimetableSecureService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableSecureService/Update" message="tns:ITimetableSecureService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableSecureService/UpdateResponse" message="tns:ITimetableSecureService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableSecureService/DeleteById" message="tns:ITimetableSecureService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableSecureService/DeleteByIdResponse" message="tns:ITimetableSecureService_DeleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UndeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableSecureService/UndeleteById" message="tns:ITimetableSecureService_UndeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableSecureService/UndeleteByIdResponse" message="tns:ITimetableSecureService_UndeleteById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITimetableService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableService/GetAll" message="tns:ITimetableService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableService/GetAllResponse" message="tns:ITimetableService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableService/GetById" message="tns:ITimetableService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableService/GetByIdResponse" message="tns:ITimetableService_GetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITimetableSecureService" type="tns:ITimetableSecureService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITimetableSecureService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllWithDeleted">
      <soap:operation soapAction="http://tempuri.org/ITimetableSecureService/GetAllWithDeleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ITimetableSecureService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ITimetableSecureService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/ITimetableSecureService/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UndeleteById">
      <soap:operation soapAction="http://tempuri.org/ITimetableSecureService/UndeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITimetableService" type="tns:ITimetableService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ITimetableService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/ITimetableService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimetableManager">
    <wsdl:port name="BasicHttpBinding_ITimetableSecureService" binding="tns:BasicHttpBinding_ITimetableSecureService">
      <soap:address location="https://localhost:44300/Services/TimetableService.svc/secure" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ITimetableService" binding="tns:BasicHttpBinding_ITimetableService">
      <soap:address location="http://localhost:24462/Services/TimetableService.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>