ManagingSystem/Service References/PurchaseTicketSecureService/PurchaseTicketSecureService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Wpk.Entities" elementFormDefault="qualified" targetNamespace="Wpk.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPurchaseTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseTicket" nillable="true" type="tns:PurchaseTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseTicket" nillable="true" type="tns:ArrayOfPurchaseTicket" />
  <xs:complexType name="PurchaseTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfPurchase" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentIdentificationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstNameTicketOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastNameTicketOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseTicket" nillable="true" type="tns:PurchaseTicket" />
</xs:schema>