ManagingSystem/Service References/PurchaseTicketSecureService/PurchaseTicketManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PurchaseTicketManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IPurchaseTicketSecureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24462/Services/PurchaseTicketSecureService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/PurchaseTicketSecureService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/PurchaseTicketSecureService.svc?xsd=xsd2" namespace="Wpk.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPurchaseTicketSecureService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetToDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToDate" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetToDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetAfterDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAfterDate" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetAfterDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAfterDateResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetByFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByFirstName" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetByFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetByLastName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByLastName" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetByLastName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByLastNameResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetFromDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFromDevice" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetFromDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFromDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetByCustomerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByCustomerId" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetByCustomerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByCustomerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetFromDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFromDate" />
  </wsdl:message>
  <wsdl:message name="IPurchaseTicketSecureService_GetFromDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFromDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IPurchaseTicketSecureService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetAll" message="tns:IPurchaseTicketSecureService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetAllResponse" message="tns:IPurchaseTicketSecureService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetToDate" message="tns:IPurchaseTicketSecureService_GetToDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetToDateResponse" message="tns:IPurchaseTicketSecureService_GetToDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAfterDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetAfterDate" message="tns:IPurchaseTicketSecureService_GetAfterDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetAfterDateResponse" message="tns:IPurchaseTicketSecureService_GetAfterDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetByFirstName" message="tns:IPurchaseTicketSecureService_GetByFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetByFirstNameResponse" message="tns:IPurchaseTicketSecureService_GetByFirstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByLastName">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetByLastName" message="tns:IPurchaseTicketSecureService_GetByLastName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetByLastNameResponse" message="tns:IPurchaseTicketSecureService_GetByLastName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFromDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetFromDevice" message="tns:IPurchaseTicketSecureService_GetFromDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetFromDeviceResponse" message="tns:IPurchaseTicketSecureService_GetFromDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetById" message="tns:IPurchaseTicketSecureService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetByIdResponse" message="tns:IPurchaseTicketSecureService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByCustomerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetByCustomerId" message="tns:IPurchaseTicketSecureService_GetByCustomerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetByCustomerIdResponse" message="tns:IPurchaseTicketSecureService_GetByCustomerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFromDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetFromDate" message="tns:IPurchaseTicketSecureService_GetFromDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPurchaseTicketSecureService/GetFromDateResponse" message="tns:IPurchaseTicketSecureService_GetFromDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPurchaseTicketSecureService" type="tns:IPurchaseTicketSecureService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IPurchaseTicketSecureService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IPurchaseTicketSecureService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToDate">
      <soap:operation soapAction="http://tempuri.org/IPurchaseTicketSecureService/GetToDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAfterDate">
      <soap:operation soapAction="http://tempuri.org/IPurchaseTicketSecureService/GetAfterDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByFirstName">
      <soap:operation soapAction="http://tempuri.org/IPurchaseTicketSecureService/GetByFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByLastName">
      <soap:operation soapAction="http://tempuri.org/IPurchaseTicketSecureService/GetByLastName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFromDevice">
      <soap:operation soapAction="http://tempuri.org/IPurchaseTicketSecureService/GetFromDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IPurchaseTicketSecureService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCustomerId">
      <soap:operation soapAction="http://tempuri.org/IPurchaseTicketSecureService/GetByCustomerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFromDate">
      <soap:operation soapAction="http://tempuri.org/IPurchaseTicketSecureService/GetFromDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchaseTicketManager">
    <wsdl:port name="BasicHttpBinding_IPurchaseTicketSecureService" binding="tns:BasicHttpBinding_IPurchaseTicketSecureService">
      <soap:address location="https://localhost:44300/Services/PurchaseTicketSecureService.svc/secure" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>