ManagingSystem/Service References/TicketService/TicketManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITicketSecureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24462/Services/TicketService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/TicketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/TicketService.svc?xsd=xsd2" namespace="Wpk.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicketSecureService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ITicketSecureService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketSecureService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ITicketSecureService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketSecureService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="ITicketSecureService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetWherePriceMoreThan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWherePriceMoreThan" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetWherePriceMoreThan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWherePriceMoreThanResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetWherePriceLessThan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWherePriceLessThan" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetWherePriceLessThan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWherePriceLessThanResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetWhereTicketTypeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWhereTicketTypeId" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetWhereTicketTypeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWhereTicketTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByName" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketSecureService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketSecureService/Create" message="tns:ITicketSecureService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketSecureService/CreateResponse" message="tns:ITicketSecureService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketSecureService/Update" message="tns:ITicketSecureService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketSecureService/UpdateResponse" message="tns:ITicketSecureService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketSecureService/DeleteById" message="tns:ITicketSecureService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketSecureService/DeleteByIdResponse" message="tns:ITicketSecureService_DeleteById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITicketService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetAll" message="tns:ITicketService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetAllResponse" message="tns:ITicketService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWherePriceMoreThan">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetWherePriceMoreThan" message="tns:ITicketService_GetWherePriceMoreThan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetWherePriceMoreThanResponse" message="tns:ITicketService_GetWherePriceMoreThan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWherePriceLessThan">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetWherePriceLessThan" message="tns:ITicketService_GetWherePriceLessThan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetWherePriceLessThanResponse" message="tns:ITicketService_GetWherePriceLessThan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWhereTicketTypeId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetWhereTicketTypeId" message="tns:ITicketService_GetWhereTicketTypeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetWhereTicketTypeIdResponse" message="tns:ITicketService_GetWhereTicketTypeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetById" message="tns:ITicketService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetByIdResponse" message="tns:ITicketService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetByName" message="tns:ITicketService_GetByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetByNameResponse" message="tns:ITicketService_GetByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicketSecureService" type="tns:ITicketSecureService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITicketSecureService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ITicketSecureService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ITicketSecureService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/ITicketSecureService/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITicketService" type="tns:ITicketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWherePriceMoreThan">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetWherePriceMoreThan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWherePriceLessThan">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetWherePriceLessThan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWhereTicketTypeId">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetWhereTicketTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketManager">
    <wsdl:port name="BasicHttpBinding_ITicketSecureService" binding="tns:BasicHttpBinding_ITicketSecureService">
      <soap:address location="https://localhost:44300/Services/TicketService.svc/secure" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ITicketService" binding="tns:BasicHttpBinding_ITicketService">
      <soap:address location="http://localhost:24462/Services/TicketService.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>