Mobile.Helper.Services/Service References/CustomerAuthenticationService/AuthenticationCustomerManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationCustomerManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24462/Services/CustomerAuthenticationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/CustomerAuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:24462/Services/CustomerAuthenticationService.svc?xsd=xsd2" namespace="Wpk.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerAuthenticationService_IsCustomerExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCustomerExists" />
  </wsdl:message>
  <wsdl:message name="ICustomerAuthenticationService_IsCustomerExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCustomerExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerAuthenticationService_IsCorrectCredentialsCorrect_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCorrectCredentialsCorrect" />
  </wsdl:message>
  <wsdl:message name="ICustomerAuthenticationService_IsCorrectCredentialsCorrect_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCorrectCredentialsCorrectResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerAuthenticationService_GetInfoAboutCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAboutCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerAuthenticationService_GetInfoAboutCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoAboutCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerAuthenticationService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ICustomerAuthenticationService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerAuthenticationService_SendPasswordReminder_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordReminder" />
  </wsdl:message>
  <wsdl:message name="ICustomerAuthenticationService_SendPasswordReminder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordReminderResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerAuthenticationService">
    <wsdl:operation name="IsCustomerExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerAuthenticationService/IsCustomerExists" message="tns:ICustomerAuthenticationService_IsCustomerExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerAuthenticationService/IsCustomerExistsResponse" message="tns:ICustomerAuthenticationService_IsCustomerExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCorrectCredentialsCorrect">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerAuthenticationService/IsCorrectCredentialsCorrect" message="tns:ICustomerAuthenticationService_IsCorrectCredentialsCorrect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerAuthenticationService/IsCorrectCredentialsCorrectResponse" message="tns:ICustomerAuthenticationService_IsCorrectCredentialsCorrect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoAboutCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerAuthenticationService/GetInfoAboutCustomer" message="tns:ICustomerAuthenticationService_GetInfoAboutCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerAuthenticationService/GetInfoAboutCustomerResponse" message="tns:ICustomerAuthenticationService_GetInfoAboutCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerAuthenticationService/Register" message="tns:ICustomerAuthenticationService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerAuthenticationService/RegisterResponse" message="tns:ICustomerAuthenticationService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPasswordReminder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerAuthenticationService/SendPasswordReminder" message="tns:ICustomerAuthenticationService_SendPasswordReminder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerAuthenticationService/SendPasswordReminderResponse" message="tns:ICustomerAuthenticationService_SendPasswordReminder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerAuthenticationService" type="tns:ICustomerAuthenticationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsCustomerExists">
      <soap:operation soapAction="http://tempuri.org/ICustomerAuthenticationService/IsCustomerExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCorrectCredentialsCorrect">
      <soap:operation soapAction="http://tempuri.org/ICustomerAuthenticationService/IsCorrectCredentialsCorrect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoAboutCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerAuthenticationService/GetInfoAboutCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ICustomerAuthenticationService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPasswordReminder">
      <soap:operation soapAction="http://tempuri.org/ICustomerAuthenticationService/SendPasswordReminder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationCustomerManager">
    <wsdl:port name="BasicHttpBinding_ICustomerAuthenticationService" binding="tns:BasicHttpBinding_ICustomerAuthenticationService">
      <soap:address location="http://localhost:24462/Services/CustomerAuthenticationService.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>